<div class="container-fluid" style="margin-top:30px;">
    <div class="section">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container-fluid history">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <h3 style="color:white;">Past Games</h3>
                        </div>
                    </div>
                    <div class="row pastScore-heading">
                        <div class="col-md-12">
                            <div class="col-md-6 center-block" style="float:none;">
                                <div class="col-md-6 border-total">Player Name</div>
                                <div class="col-md-6 border-total">Game Score</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="game in $ctrl.games">
                        <div class="col-md-12">
                            <div class="col-md-6 center-block" style="float:none;">
                                <div class="col-md-6 border-bottom">{{game.playerName}}</div>
                                <div class="col-md-6 border-bottom">{{game.totalScore}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>