<div class="container-fluid">
    <div class="row" style="margin-top:130px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container-fluid scoreboard">
                <div class="row">
                    <!-- ngRepeat this information -->
                    <div class="scoreboardHeader col-md-12">
                        <div class="playerName col-md-2">
                            <div class="col-md-12">{{$ctrl.test}}</div>
                        </div>
                        <div class="scores col-md-10">
                            <div class="col-md-1">1</div>
                            <div class="col-md-1">2</div>
                            <div class="col-md-1">3</div>
                            <div class="col-md-1">4</div>
                            <div class="col-md-1">5</div>
                            <div class="col-md-1">6</div>
                            <div class="col-md-1">7</div>
                            <div class="col-md-1">8</div>
                            <div class="col-md-1">9</div>
                            <div class="col-md-2">10</div>
                            <div class="col-md-1">Send Score</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row game col-md-12" ng-repeat="game in $ctrl.game track by $index">
                        <div class="playerName col-md-2">
                            <div class="col-md-12">{{game.playerName}}</div>
                        </div>
                        <div class="scores col-md-10">
                            <div class="set" ng-repeat="frame in game.frames track by $index" ng-class="frame.frameNum == 9 ? 'col-md-2' : 'col-md-1'">
                                <input ng-class="frame.frameNum == 9 ? 'col-md-4' : 'col-md-6'" class="col-md-6 setUpper" ng-model="frame.throws.first"  ng-value="" ng-change="$ctrl.validateThrowInput(game, frame, 1, frame.throws.first)" />
                                <input ng-class="frame.frameNum == 9 ? 'col-md-4' : 'col-md-6'" class="col-md-6 setUpper" ng-model="frame.throws.second" ng-value="" ng-change="$ctrl.validateThrowInput(game, frame, 2, frame.throws.second)" />
                                <input ng-class="frame.frameNum == 9 ? 'col-md-4' : 'col-md-6'" class="setUpper" ng-model="frame.throws.third"  ng-value="" ng-change="$ctrl.validateThrowInput(game, frame, 3, frame.throws.third)" ng-if="frame.frameNum == 9" />
                                <div class="col-md-12 setTotal">{{frame.score}}</div>
                            </div>

                            <div class="col-md-1">
                                <button class="btn" style="color:black;" value="Send" ng-click="$ctrl.sendScore(game)">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="col-md-6 center-block" style="float:none;">
                <div class="col-md-offset-5 col-md-3">
                    <div class="form-login">
                        <h4>Add Game</h4>
                        <input type="text" id="userName" class="form-control input-sm chat-input darkTheme" placeholder="Name" ng-model="nameVal" />
                        </br>
                        <div class="wrapper">
                        <span class="group-btn">
                            <a href="" class="btn btn-md darkTheme" ng-click="$ctrl.addGame(nameVal)">Add Game</a>
                         </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:30px;" >
        <a class="btn btn-md darkTheme col-md-6 center-block" style="float:none;" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ">
            Recorded Games
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" style="color:white;">
                <game-history></game-history>
            </div>
        </div>
    </div>
</div>