@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

body {
    background-color:#333333;
}

.scoreboard {
    min-height: 400px;
    background-color: black;
    color: white;
    padding-bottom:20px;
}

.scoreboardHeader {
    margin-top: 15px;
    margin-bottom: 15px;
}

.setUpper {
    background-color:black;
    padding:0 !important;
    border: white 1px solid;
    text-align:center;
}

.setTotal {
    background-color:black;
    padding:0 !important;
    border: white 1px solid;
    text-align:center;
}

.set {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.game {
    margin-top:3px;
    margin-bottom:3px;
}

.form-login {
    text-align:center;
    margin-bottom:30px;
    color:white;
}

.form-login a {
    text-decoration: none;
    color:white;
}

.form-login a:hover {
    text-decoration: none;
    color: #666666;
}

.darkTheme {
    background-color:black;
    color:white;
}